header {
  background-color: #2c98f0;  /* Same color as homepage */
  color: white;
  padding: 0.5rem 0;  /* Reduced padding to make the header smaller */
  text-align: center;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;  /* Reduced gap between buttons */
}

nav ul li {
  display: inline-block;
}

nav ul li button {
  background: none;
  border: none;
  color: #f4f7f8;
  font-size: 1rem;  /* Reduced font size to make text smaller */
  cursor: pointer;
  padding: 0.4rem 0.8rem;  /* Reduced padding to make buttons smaller */
}

nav ul li button:hover {
  background-color: #1e1e1e;  /* Kept hover background */
  color: #61dafb;  /* Light text color */
  border-radius: 5px;
}
.social-links {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #61dafb;
}