#social-links {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  align-items: center;
}

#social-links a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

#social-links a:hover {
  color: #61dafb;
}